<div class="body">
<div class="about">
    <div class="aboutdetails">
        <div class="aboutmain">
        <h1>
            <span>We are IT Services</span> 
        </h1>
        <h1>
            <span> Consulting<span id = "firm">Firm</span></span>
        </h1>


        </div>
        <div class="aboutmain2">
            <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Atque sint dignissimos laborum animi. 
        </h2>
        <button id="more">
            Discover More
        </button>
        </div>
    </div>
</div>
    <div class="service">
        <div class="servicename">
            <h1>
                Our Services
            </h1>
        </div>
        <div class="services">
            <div id="1d">
                <img src="../../assets/services/app-development.png">
                <h1>
                    Web Devloping
                </h1>
            </div>
            <div>
                <img src="../../assets/services/design.png">
                <h1>
                    Web Designing
                </h1>
            </div>
            <div>
                <img src="../../assets/services/digital-marketing.png">
                <h1>
                    Digital Marketing
                </h1>
            </div>
            <div>
                <img src="../../assets/services/computer-science.png">
                <h1>
                    Data Science
                </h1>
            </div>
            <div>
                <img src="../../assets/services/shopping.png">
                <h1>
                    Ecommerce Website
                </h1>
            </div>
            <div>
                <img src="../../assets/services/hosting.png">
                <h1>
                    Website Hosting            </h1>
            </div>
        </div>
    </div>
    </div>